[Unit]
Description=Cliper Daemon Service
After=network.target

[Service]
ExecStop=/usr/bin/killall cliper
ExecStart=/usr/bin/cliper daemon -c /home/${USER}/.cliper.yaml

[Install]
WantedBy=default.target
